div#formulario{
  width: 300px;
  background-color: white;
  margin: auto;
  margin-top: 15px; 
  display: flex;
  margin-bottom: 25px;
}

div#formulario form {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Outfit', sans-serif;
}

