nav {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 70px;
    font-family: 'Outfit', sans-serif;
}

/*contenedor del logo y H1*/
nav div#contenedor-de-logoytitulo {
    width: 210px;
    margin-right: 4%;
    display: inline-flex;
    align-items: center;
}
/*contenedor del logo y H1*/
nav div#contenedor-menu-haburguesa {
    display: inline-flex;
}

nav a{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-decoration: none;
    font-weight: bold;
    color: rgb(232, 229, 229);
    
    /*modificado*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    
}

/*modificado*/
nav a:hover {
    border-bottom: 3px solid white;
    transition: 0.5s;
    color: rgb(46, 129, 239);
}
nav h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    margin-left: 1%;
    
}
nav img {
    margin-top: 0;
    height: 54px;
    width: 54px;
}
