nav {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 70px;
}
nav a{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-decoration: none;
    font-weight: bold;
    color: white;
    
    /*modificado*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    
}



/*modificado*/
nav a:hover {
    border-bottom: 3px solid white;
    transition: 0.5s;
    color: rgb(46, 129, 239);
}
nav h1 {
    margin-left: 2.5%;
    color: white;
    margin-right: 6%;
}
nav img {
    margin-top: 10px;
    margin-left: 0.4%;
    height: 54px;
    width: 54px;
}
