/*Query mas grande*/
@media screen and (max-width: 950px) 
{
    /*Cambio en el contenedor principal del main*/
    /*para que funcione hay que respetar las reglas de especificidad, es decir, mientras mas especifico el selector, mas probable que los cambios esteticos surtan efecto*/
    body main h2#baner-contenedor-servicios {
        text-align: center;
        margin-left: 1.5%;
    }
    body main div#contenedor-servicios {
        flex-direction: column;
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
    body main div#contenedor-servicios-explicados {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    } 
    body main div#contenedor-servicios article {
        margin-bottom: 1%;
    }
    body main div#contenedor-servicios h2.banner-articulos-servicios{
        margin-left: 60px;
        margin-right: 5%;
        margin-top: 7px;
    }
    body main div#contenedor-servicios article p {
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 720px) 
{
    
    /*QUERYS DEL NAV*/
    nav{
        flex-direction: column;
        height: 70px;
        height: auto;       
    }
    nav div#contenedor-de-logoytitulo {
        display: inline-flex;
        margin-top: 1%;
        margin-left: 1%;
    }
    nav a {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    nav a:hover {
        border-bottom: 3px solid white;
        transition: 0.5s;
        color: rgb(46, 129, 239);
        background-color: rgba(127, 255, 212, 0.304);
        border-radius: 5px;
    }

    /*QUERYS DEL HEADER*/
    header{
        display: none;
    }

    /*QUERYS DEL MAIN*/
    body main div#contenedor-servicios-explicados {
        margin-top: 0.5%;
    } 
    body main div#contenedor-servicios h2.banner-articulos-servicios{
        margin-left: 20px;
    }
    body main div#contenedor-servicios article p {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 5%;
    }
    body main div#contenedor-servicios img{
        margin-bottom: 1%;
    }
    
    /*Experimental*/
    /*desaparezco las imagenes de el contenedor de servicios exlicado*/
    body main div#contenedor-servicios-explicados .cajita-imagenes {
        display: none;
    } 
    body main div#contenedor-servicios-explicados h3{
        text-align: center;
        padding-top: 20px;
        margin-left: 0;
    }
    body main div#contenedor-servicios-explicados p{
        padding-bottom: 20px;
    }

    /*Menu Hambuerguesa experimental*/
    body main div#contenedor-servicios-explicados label{
        text-align: center;
        display: block;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        background-color: rgb(94, 94, 94);
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-family: 'Outfit', sans-serif;
    }
    body main div#contenedor-servicios-explicados label:hover{
        background-color: green;
        color: rgb(250, 94, 255);
        transition: 0.5s;
    }
    body main div#contenedor-servicios-explicados .articulos-explicados{
        display: none;
    }
    body main div#contenedor-servicios-explicados input:checked ~  .articulos-explicados{
        display: block;
    }
      
}

@media screen and (max-width: 384px) {
    body div#formulario {
        width: 90%;
    }
    body div#formulario form {
        width: 90%;
    }
}
