footer{
    margin-top: 5px;
    height: 140px;
    background: rgb(0, 0, 0);
    background-size: 120px 120px;
    background-repeat: repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div#iconossociales{
    margin-top: 25px;
    margin-bottom: 10px;
}
i {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 2.5px;
    padding-left: 12px;
    padding-right: 12px;
}
i.fa-facebook:hover {
    color: #0033ff;
    transition: 0.5s;
}
i.fa-instagram:hover {
    color: #c13584;
    transition: 0.5s;
}
i.fa-twitter:hover {
    color: #4bb9e0;
    transition: 0.5s;
}
i.fa-tiktok:hover {
    color: cyan;
    transition: 0.5s;
}