header {
    margin: 0;
    height: 300px;
    width: auto;
    position: relative;
    font-family: 'Outfit', sans-serif;
    
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.758);
}
header h2{
    margin-top: 115.5px;
    margin-bottom: 0;
    text-align: center;
    color: white;
    position: absolute;
    margin-left: 5%;
    font-size: 50px;
}
